html {
    margin: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    height: 700px;
    width: 700px;
    background-color: darkcyan;
    display: flex;
    flex-wrap: wrap;
}